body {
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    font-size: 18px;
    background-image: url(images/bg-pattern-bottom.svg), url(images/bg-pattern-top.svg);
    background-position: left 45vw top 44vh, bottom 49vh right 48vw;
    background-repeat: no-repeat, no-repeat;

}

.card {
    background-color: beige;
    width: 320px;
    height: 350px;
    text-align: center;
    border-radius: 1em;
}

.background {
    background-color: aqua;
    height: 120px;
    background-image: url(images/bg-pattern-card.svg);
    border-radius: 1em 1em 0 0;

}

#victor {
    border-radius: 50%;
    border: 0.3em solid white;
    transform: translate(0, -55px);


}

#name {
    display: inline-block;
    transform: translate(0, -55px);
    letter-spacing: 0.5px;
    font-weight: 700;
}

#age {
    color: hsl(0, 0%, 59%);
    display: inline-block;
    transform: translate(10px, -55px);
    letter-spacing: 0.5px;
    font-weight: 400;
}

#location {
    margin-top: 0;
    transform: translate(0px, -65px);
    color: hsl(0, 0%, 59%);
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 0.8em;
}

.bottom {
    display: flex;
    border-top: 1px hsl(0, 0%, 59%) solid;
    transform: translate(0px, -55px);
    justify-content: space-evenly;
    flex-wrap: wrap;


}

.number {
    width: 100px;
    margin-bottom: 0;
    font-weight: 700;
}

.text {
    width: 100px;
    margin-top: 0;
    font-weight: 400;
    font-size: 0.6em;
    color: hsl(0, 0%, 59%);
    letter-spacing: 1px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}